<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="br.com.pacbittencourt.promoapp">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".PromoAppApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.promocoes.PromocoesActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.produtos.ProdutosActivity"
            android:label="@string/produtosActivity_title"
            android:parentActivityName=".ui.promocoes.PromocoesActivity">
        </activity>
        <activity
            android:name=".ui.detalhesproduto.DetalhesProdutoActivity"
            android:parentActivityName=".ui.produtos.ProdutosActivity">
        </activity>
    </application>

</manifest>